.main {
  height: 50vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-evenly;
  .content {
    // background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 10px;
  }
}

.card {
  height: 5rem;
  width: 5rem;
  // border: solid 1px black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 223, 218);
}

img {
  width: 1.7rem;
  height: 1.7rem;
}
.chead {
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: burlywood;
  color: navy;
}

.Fmain {
  height: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  // gap: 0.5rem;
  // background-color: cornflowerblue;
}
#form {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 50%;
  border-radius: 1rem;
  background-color: rgb(226, 223, 218);

  // label {
  //   font-size: large;
  // }
  input {
    height: 3.5rem;
    width: 20rem;
    border-radius: 0.8rem;
    outline: none;
    background-color: rgb(211, 247, 247);
    border: none;
    font-size: large;
    padding-left: 1rem;
  }
  input:hover {
    border: 0.1rem solid rgb(203, 203, 238);
  }

  button {
    height: 2rem;
    width: 7rem;
    background-color: white;
    border: solid 1px black;

    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
  }

  button:hover {
    color: black;
    border: solid 1px rgb(211, 247, 247);
    background-color: rgb(211, 247, 247);
  }
}

#map {
  height: 25rem;

  // width: 50%;
  // background-color: crimson;
}

.container {
  position: relative;
}

/*
Show the label at desired position when the 
placeholder of input isn't shown
*/
.container__input:not(:placeholder-shown) + .container__label {
  background-color: rgb(226, 223, 218);
  transform: translate(0, -50%);
  opacity: 1;
}

.container__label {
  /* Position the label */
  left: 8px;
  position: absolute;
  top: 0;
  background-color: rgb(226, 223, 218);
  font-size: large;
  color: navy;
  /* Hide it by default */
  opacity: 0;
  transition: all 200ms;
}
