.header {
  // position: fixed;
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
  font-family: "Roboto Slab", serif;
  height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3rem;
  img {
    margin-left: -6rem;
    height: 6rem;
    width: 14rem;
  }
  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    font-size: 1.4rem;

    a {
      text-decoration: none;
      color: rgb(18, 88, 146);
      font-weight: 600;
    }
  }
}
