body {
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
  font-family: "Roboto Slab", serif;
  user-select: none;
  img {
    height: 30rem;
    width: 30rem;
    border-radius: 1rem;
  }
  .logo-quote {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    #bg {
      display: flex;
      background-image: url("../images/homebg1.jpg");
      background-position: inherit;
      background-size: cover;
      backdrop-filter: blur(2px);
      border-radius: 1rem;
      z-index: -3;
      #logo,
      #quote {
        float: left;
        z-index: 1;
        // img {
        //   height: 30rem;
        //   width: 30rem;
        // }
        h1,
        h3 {
          color: whitesmoke;
          font-family: "Roboto Slab", serif;
          box-sizing: border-box;
          margin-right: 2rem;
          margin-left: 10rem;
          text-align: justify;
        }
        h1 {
          font-size: 3rem;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          line-height: 5rem;
        }
        h3 {
          font-weight: 300;
          letter-spacing: 0.1rem;
          font-size: 1.4rem;
        }
      }
    }
  }
  .about {
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: navy;
      font-size: 2rem;
      font-weight: 600;
      font-family: "Roboto Slab", serif;
    }
    #title {
      display: flex;
    }
    #content,
    #a-img {
      width: 50%;
      float: left;
      text-align: center;
      margin: 0.4rem 1rem;
      p {
        font-size: 1.3rem;
        // text-align: start;
        text-align: justify;

        margin-left: 3rem;
        letter-spacing: 0.05rem;
        font-family: "Roboto Slab", serif;
      }
      img {
        text-align: center;
        height: 24rem;
        width: 40rem;
      }
    }
  }
  .vm {
    margin: 2rem;
    #title {
      display: flex;
    }
    #image,
    #content {
      float: left;
      h1,
      p {
        font-size: 1.3rem;
        text-align: justify;

        margin-left: 3rem;
        letter-spacing: 0.05rem;
        font-family: "Roboto Slab", serif;
        line-height: 2.4rem;
      }
      h1 {
        text-align: center;
        color: navy;
        font-size: 2rem;
        font-weight: 600;
      }
      img {
        margin-left: 2rem;
        text-align: center;
        height: 24rem;
        width: 45rem;
      }
    }
  }
  .team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      text-align: center;
      font-family: "Roboto Slab", serif;
      color: navy;
      font-size: 2rem;
      font-weight: 600;
    }
    div {
      background-image: url("../images/ourteam2.jpg");
      background-position: center;
      background-size: cover;
      border-radius: 1rem;
      h1,
      h2 {
        color: white;
        font-size: 3rem;
      }
      h2 {
        font-size: 2rem;
        text-align: center;
      }
      h3 {
        margin: 1rem;
        color: white;
        letter-spacing: 0.05rem;
        font-family: "Roboto Slab", serif;
        line-height: 2.4rem;
        text-align: justify;
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      float: left;
      margin: 2rem 10rem;
      h4 {
        text-transform: uppercase;
        color: navy;
        font-size: 0.8rem;
        // letter-spacing: 0.06rem;
        font-family: "Roboto Slab", serif;
      }
      // p {
      //   // margin-left: 0.4rem;
      // }
      #dot {
        color: white;
      }
    }
  }
}
